<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <!-- Inline Cascading Style Sheets -->
    <title>Inline CSS - Keep Calm Poster</title>
    style
    <!--   <link rel="stylesheet" href="/css/reset.css"> -->
  </head>
  <body style={"background-color: pink; margin: 0;"}>
    <div
      style="width: 50%;
      color: bule;
      text-align: center;
      margin: 2% auto;
      padding: 5% 2%;
      border: 2px solid white;"
    >
      <img
        src="https://cdn.glitch.com/bc2980dc-21e3-43fc-8c6c-5e88354fe0de%2Fcrown.png?v=1582652071100"
        alt="crown"
        style="display: block;
      margin: 0 auto;
      width: 33%;
      max-width: 250px;
      min-width: 100px;"
      />
      <p
        style="font-size: 8em; /* font-size: 22vw; */
      text-transform: uppercase;/style
      word-break: break-word;
      margin: 0;
      padding: 0;"
      >
        Keep Calm
        <span
          style="display: block;
      font-size: .8em;"
          >and</span
        >
        Carry On
      </p>
    </div>
  </body>
</html>
